//-  This file ("extends") the file layout.jade as a template
//-   The '-' makes the comment invisible. 
//-   Add: No need to restart server with this change.
//-   Maybe I'll learn to like jade?  
extends layout

block content
  h1= title
  p Hello World! Viewing the view #{title}